.grid {
    height: 560px;
    min-width: 560px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 50px;
    background-color: rgba(109, 127, 151, 0.5);
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
}

.grid div {
    height: 70px;
    width: 70px;
}

h3 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
}

h1 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
 margin-top: -10px;
}

a, a:visited{
  color: white;
  text-decoration: none;
  
}

.invisible {
    background-color: white;
}

body {
  background-image: url("Pelotas-Vista-Aérea-Parcial-déc1950.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: 1920px 1080px;
  background-color: darkgray;
  max-width: 100vh;
  display: flex;
}

.score-board {
  background-color: pink;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 350px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#FFB6C1, #FFC0CB);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

.trivia {
	background-color: pink;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 350px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
  background-image: linear-gradient(#FFB6C1, #FFC0CB);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

#imageDisplay {
  display: flex; /* Use flexbox for centering */
  justify-content: center; 
  align-items: center; 
  width: 150px; /* Example width */
  height: 150px; /* Example height */
  margin: 20px auto; /* Center container */}

.timer{
	background-color: pink;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 350px;
  position: absolute;
  width: 150px;
  height: 200px;
  top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #85796b;
}

#timer {
  font-size: 48px;
  color: #159acf;
}

footer {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 880px;
}